

@keyframes searchBarAnimation {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  

  .specialist-block {
    animation: specialistCardAnimation 0.5s ease-in-out;
    animation-fill-mode: backwards;
  }
  .specialist-block:hover {
    transform: scale(1.05);
}
  
  #SearchInput:hover {
    border-color: white;
  }

  #filter1:hover {
    border: 1px solid white;
  }
  #filter1 {
    background-color: #555;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: border-color 0.3s;
    margin-top: 3.8em;
    height: 3em;
    font-size: 1em;
    text-align: center;
    &:hover {
        border-color: white;
    }
}
.search-bar {
    margin-top: 1.5em;
}