

@keyframes searchBarAnimation {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  

  .specialist-block {
    animation: specialistCardAnimation 0.5s ease-in-out;
    animation-fill-mode: backwards;
  }
  .specialist-block:hover {
    transform: scale(1.05);
}
