<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="notebooks" ng-app="notebooks" ng-controller="NotebookListCtrl">
        <input type="text" id="query" ng-model="query" placeholder="Search notebooks...">
        <select ng-model="orderList">
          <option value="name">By name</option>
          <option value="-age">Newest</option>
          <option value="age">Oldest</option>
          <option value="Job_title">Job_title</option>
          <option value="Specialization">Specialization</option>
          <option value="Place_of_work">Place_of_work</option>
        </select>
        <ul id="notebook_ul">
          <li ng-repeat="notebook in filteredNotebooks | orderBy: orderList">
            <br>name: {{notebook.name}}</br>
            <br>Job_title: {{notebook.Job_title}}</br>
            <br>Specialization: <br><br>{{notebook.Specialization}}</br></br>
            <br>Place_of_work: <br>{{notebook.Place_of_work}}</br></br>
            <div class="right top">{{notebook.age}}</div>
          </li>
        </ul>
        <span>Number of notebooks: {{filteredNotebooks.length}}</span>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="index.js"></script>
</body>
</html>