<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="Search_input" ng-app="Search_input" ng-controller="Search_inputListCtrl">
        <input type="text" id="query" ng-model="query" placeholder="Search Search_input...">
        <select ng-model="orderList">
          <option value="name">По имени</option>
          <option value="Job_title">Должность</option>
          <option value="Specialization">Специализация</option>
          <option value="Place_of_work">Место работы</option>
        </select>
        <ul id="Search_input_ul">
          <li ng-repeat="Search_input in filteredSearch_input | orderBy: orderList">
            <br>{{Search_input.name}}</br>
            <br>Должность: {{Search_input.Job_title}}</br>
            <br>Специализация: <br><br>{{Search_input.Specialization}}</br></br>
            <br>Место работы: <br>{{Search_input.Place_of_work}}</br></br>
            <div class="right top">{{Search_input.age}}</div>
          </li>
        </ul>
        <span>Количество спецалистов: {{filteredSearch_input.length}}</span>
    </div>
    <script>
        var select = document.querySelector('select');
        select.addEventListener('change', function() {
            document.querySelector('#query').value = '';
            document.querySelector('span').textContent = 'Количество спецалистов: ';
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="index.js"></script>
</body>
</html>