body {
    font-family: Arial, sans-serif;
    background-color: #f0f9f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 42%;
    margin: 30px auto; /* Отступ сверху для будущего хедера */
    padding: 20px;
    background-color: #9cfaa1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
.container {
    width: 100%;    
}    
}
h2 {
    text-align: center;
}

#questionForm, #questionsContainer {
    margin-bottom: 30px;
}

.form-control {
    margin-bottom: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px; /* Отступы между строками ввода */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #0398b9;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(88, 166, 240);
}

.question-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e8f5e9;
    position: relative;
}
.dark-theme .question-item {
    background-color: rgb(175, 195, 238);
}

.admin-answer {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-left: 0;
    border-radius: 8px;
}

.reply-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: transparent;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.reply-button:hover {
    background-color: #e8f5e9;
}

.hidden {
    display: none;
}

.container {
    margin-top: 10em;
}
.dark-theme .container {
    background-color: #5555;
}
.dark-theme #username {
    background-color: rgb(175, 195, 238);
}
.dark-theme #phone {
    background-color: rgb(175, 195, 238);
}
.dark-theme #email {
    background-color: rgb(175, 195, 238);
}
.dark-theme #question {
    background-color: rgb(175, 195, 238);
}
.dark-theme h2 {
    color: white;
}

#theme-switcher {
    margin-top: 0;
}

.answer-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.answer-button:hover {
    background-color: #45a049;
}